<audio controls="controls">
    <source src="{{ url }}" type="{{ media.mimeType }}" />
    {{ 'views.render.other.download'|trans({}, "ApoutchikaMediaBundle") }} : <a href="{{ url }}">{{ url }}</a>
</audio>
