<video width="{{ media.width }}" height="{{ media.height }}" controls="controls">
    <source src="{{ url }}" type="{{ media.mimeType }}" />
        <a href="{{ url }}">{{ 'views.render.video.download'|trans({}, "ApoutchikaMediaBundle") }}</a>
</video>
